/* Add your custom extension styling here */

.popup-menu-content {
    padding-left: 12px;
}

.popup-separator-menu-item {
    margin-top: 8px;
    margin-bottom: 4px;
}

.issue_label {
    font-weight: bold;
    padding-right: 1ex;
}

.tooltip {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 1ex;
    padding: 2ex;
}
